@model ResultManagementSystem.Models.TeacherList
@*@{
        Layout = null;
    }*@

@{
    ViewData["Title"] = "View Teacher Information Page";
}
<!-- Navbar -->
@{
    ViewData["Message1"] = "Register";
    ViewData["MessageR"] = "Register";
    ViewData["Message2"] = "View Teacher Information";
}

<!-- search -->
<form asp-controller="Admin" asp-action="ViewTeacherInformation" class="col-sm-12" method="post">
    <center>
        <div class="form-group">
            <div class="col-sm-6">
                <label>Id:</label>
                <input type="text" name="Id" class="form-control">
                <br><br><br>
                <div class="col-md-offset-2 col-md-10">
                    <input asp-action="ViewTeacherInformation" type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    </center>
</form>

<!-- Teacher list -->
<div class="col-sm-12">
    <div class="table-responsive">
        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.TeacherAll)
                {
                    <tr>
                        <td class="showDetails pointer">@data.Id</td>
                        <td class="showDetails pointer">@data.Name</td>
                        <td class="showDetails pointer">@data.Designation</td>
                        <td class="showDetails pointer">@data.Contact</td>
                        <td>
                            <a asp-action="UpdateTeacherInformation" asp-route-id="@data.Id">Update</a>
                            <a asp-action="DeleteTeacherInformation" asp-route-id="@data.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
